.newpost {
    position: relative;

    max-width: 600px;

    margin: 0 auto;
    padding-top: 40px;

    .newpost__backButton {
        font-size: 20px;
        position: absolute;
        margin-top: 10px;
    }

    .newpost__description {
        font-size: 18px;
        text-align: justify;

        margin: 40px 0;
    }

    .newpost__input {
        
        margin-bottom: 20px;

        &.newpost__input--area {
            resize: none;
        }   
    }

    .newpost_button {
        margin-top: 40px;
    }
}