.commentItem {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid thin #f3f3f3; }
  .commentItem .commentItem__title {
    font-weight: 700; }
  .commentItem .commentItem__title__date {
    font-size: 12px;
    font-weight: 300; }
  .commentItem .commentItem__subtitle {
    margin-bottom: 5px; }
  .commentItem .commentItem__footer {
    list-style: none;
    margin: 0; }
    .commentItem .commentItem__footer .commentItem__footer__item {
      display: inline-block;
      margin-right: 10px;
      font-size: 20px; }
