body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; }

main {
  flex: 1 0 auto;
  padding-bottom: 60px; }

h1,
h2,
h3,
h4 {
  font-family: 'Ubuntu', sans-serif; }

h1 {
  font-weight: 700; }

.ta-c {
  text-align: center; }
