.postPanel {
  box-shadow: 0 0.05rem 0.2rem rgba(69, 77, 93, 0.3);
  margin-top: 3px; }
  .postPanel .postPanel__title {
    font-weight: 300;
    margin: 10px 0; }

.postList {
  margin-left: 0;
  list-style: none; }
  .postList .postList__item:not(:last-child) {
    border-bottom: solid thin #d9d9d9;
    margin-bottom: 40px; }
